version: "3.8"
services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - /opt/homepage-git:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      TZ: Europe/London
      HOMEPAGE_ALLOWED_HOSTS: "home.oakdene.it.com,home.chattoweb.net"
